* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    color: #333;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18pt;
}

main {
    display: block;
    max-width: 50rem;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 5rem;
    overflow-y: auto;
}

footer {
    width: 100%;
    overflow-y: auto;
    background: #333;
    color: white;
}

p,
a,
li,
input {
    line-height: 1.75;
}

.padded-title {
    display: inline;
    background: #333;
    color: white;
    word-spacing: -10px;
    line-height: 1.75;
    box-shadow: 1rem 0 0 #333, -1rem 0 0 #333;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.tech-list {
    padding: 0;
}

.tech-list li {
    list-style: none;
    display: inline;
}

.tech-logo {
    width: 100px;
    height: 100px;
}

form {
    width: 100%;
    margin: 1rem 0;
}

fieldset {
    margin: 2rem auto;
    padding: 0;
    border: 0;
}

.c-input-field {
    width: 100%;
    margin: .5rem 0 2rem;
    padding: .5rem;
    font-family: inherit;
    font-size: 100%;
    background: #ddd;
    border: 0;
    border-left: 5px solid #333;
    box-shadow: none;
}

button, .padded-button {
    margin: inherit;
    padding: .5rem 1rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    border: 0;
    background: #333;
    color: white;
}

.c-input-field--multiline {
    width: 100%;
    margin: .5rem 0 2rem;
    padding: .5rem;
    font-family: inherit;
    font-size: 100%;
    background: #ddd;
    border: 0;
    border-left: 5px solid #333;
    resize: none;
}

footer {
    height: 5rem;
    margin: 0;
    margin-top: -5rem;
}

.footer-text {
    margin: 0 2rem;
    line-height: 5rem;
}