body {
    width: 100%;
    margin: 0;
    color: #333;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18pt;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 2rem;
}

footer {
    width: 100%;
    overflow-y: auto;
    background: #333;
    color: white;
}

p,
li,
input {
    line-height: 1.75;
}

h1 {
    line-height: 1.75;
} h1 span {
    border: 0 solid #333;
    border-width: 5px;
    background: #333;
    color: white;
    box-decoration-break: clone;
}

.tech-list {
    padding: 0;
}

.tech-list li {
    list-style: none;
    display: inline;
}

.tech-logo {
    width: 100px;
    height: 100px;
} .tech-logo--balanced {
    width: 100px;
    height: 100px;
}

form {
    width: 100%;
    margin: 1rem 0;
}

fieldset {
    margin: 2rem auto;
    padding: 0;
    border: 0;
}

.c-input-field {
    width: 100%;
    margin: .5rem 0 2rem;
    padding: .5rem;
    font-family: inherit;
    font-size: 100%;
    background: #ddd;
    border: 0;
    border-left: 5px solid #333;
    box-shadow: none;
}

button {
    margin: inherit;
    padding: .5rem 1rem;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    background: #333;
    color: #ddd;
}

.c-input-field--multiline {
    width: 100%;
    margin: .5rem 0 2rem;
    padding: .5rem;
    font-family: inherit;
    font-size: 100%;
    background: #ddd;
    border: 0;
    border-left: 5px solid #333;
    resize: none;
}

.footer-text {
    margin: 1rem 2rem;
}

