/* Reset */
* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

/* Default Styles */

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans','sans-serif';
    font-size: 2em;
    color: #262626;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab','sans-serif';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

blockquote {
    display: inline-block;
    padding: 0 2.5rem;
    border-left: 2px solid #e26d1f;
}

nav li {
    display: inline;
    margin: 0 1rem 0 0;
} 

main li:before {
    padding-right: 1rem;
    content: '▶';
    color: #e26d1f;
}

a {
    color: #277acc;
}

/* Page layout */

header,
main,
footer {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Contact info */

ul.contact-info {
    max-width: 80rem;
}

ul.contact-info li {
    padding: 1rem 0;
    border-bottom: 2px solid #e26d1f;
}

ul.contact-info li:before {
    display: none;
}

span.left {
    font-weight: bold;
}

span.right {
    float: right;
}
